.card-header-g2t {
  background-image: url('../../assets/github.png');
  background-size: cover;
}

.login {
  left: 40%;
  top: 50%;
  width: 20%;
  min-height: 200px;
}

mat-form-field {
  padding: 20px;
  left: 50px;
}
